* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", Arial, Tahoma, sans-serif;
  overflow-x: hidden;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/*--Fonts--*/

@font-face {
  font-family: "Ledger";
  font-display: swap;
  src: local("Ledger-Regular"), url("../fonts/Ledger/Ledger-Regular.ttf") format("ttf"), url("../fonts/Ledger/Ledger-Regular.woff") format("woff"), url("../fonts/Ledger/Ledger-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato-Regular"), url("../fonts/Lato/Lato-Regular.ttf") format("ttf"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato-Medium"), url("../fonts/Lato/Lato-Medium.ttf") format("ttf"), url("../fonts/Lato/Lato-Medium.woff") format("woff"), url("../fonts/Lato/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato-Semibold"), url("../fonts/Lato/Lato-Semibold.ttf") format("ttf"), url("../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../fonts/Lato/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato-Bold"), url("../fonts/Lato/Lato-Bold.ttf") format("ttf"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


/*--Common--*/
.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  min-height: 40px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #fef1e0;
  background-color: #3b6d6a;
  transition: all 0.3s ease-out;
}

.button-booking {
  color: #001c28;
  background-color: #f9ac54;
}

.button:hover,
.button:focus {
  box-shadow: 4px 4px 20px rgba(254, 241, 224, 0.7);
}

.button:active {
  color: #003d3c;
  background-color: #fef1e0;
}

.button-booking:hover,
.button-booking:focus {
  box-shadow: 4px 4px 20px rgba(249, 172, 84, 0.7);
}

.button-booking:active {
  color: #f9ac54;
  background-color: #003d3c;
}

.title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  font-family: "Ledger", "Times New Roman", Georgia, serif;
}

.description {
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.paragraph {
  width: 100%;
  max-width: 447px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}

.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}


/*--Top-bar--*/
.top-bar {
  padding: 10px 0;
  background-color: #001c28;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 84px;
  height: 33px;
}

.navigation-button {
  position: relative;
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  cursor: pointer;
}

.navigation-button::before,
.navigation-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 35px;
  height: 3px;
  background-color: #f9ac54;
}

.navigation-button::before {
  margin-top: -8px;
}

.navigation-button::after {
  margin-top: 8px;
}

.navigation-list {
  display: none;
}

.navigation-opened {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 245px;
  padding: 10px 0;
  background-color: #001c28;
}

.navigation-opened .navigation-button {
  margin-right: 20px;
  margin-left: auto;
}

.navigation-opened .navigation-button::before,
.navigation-opened .navigation-button::after {
  background-color: #fef1e0;
}

.navigation-opened .navigation-button:active::before,
.navigation-opened .navigation-button:active::after {
  background-color: #f9ac54;
}

.navigation-opened .navigation-button::before {
  margin-top: 0;
  transform: rotate(45deg);
}

.navigation-opened .navigation-button::after {
  margin-top: 0;
  transform: rotate(-45deg);
}

.navigation-opened .navigation-list {
  display: block;
  margin-top: 90px;
}

.navigation-opened .navigation-link {
  display: block;
  padding: 10px 20px;
  font-size: 24px;
  text-align: right;
  color: #fef1e0;
}

.navigation-opened .navigation-link-active {
  background-color: #003d3c;
  color: #f9ac54;
}

.navigation-opened .navigation-link:active {
  background-color: #003d3c;
  color: #f9ac54;
}


/*--Banner--*/
.banner {
  padding: 80px 0;
  background: #001c28 url("../images/banner-background.jpg") top left no-repeat;
  background-size: cover;
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  min-height: 280px;
  margin: 0 auto;
  padding: 32px;
  background-color: #001c28;
}

.banner-content::before,
.banner-content::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #f9ac54;
}

.banner-content::before {
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 20px;
}

.banner-content::after {
  top: 20px;
  right: 10px;
  bottom: 20px;
  left: 10px;
}

.banner-logo-image {
  width: 112px;
  height: 45px;
  margin-top: 84px;
}

.banner-address {
  margin-top: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: #fef1e0;
  text-align: center;
}

.banner-button {
  max-width: 280px;
  margin: 40px auto 0;
}


/*--About--*/
.about {
  padding: 60px 0;
  color: #fef1e0;
  background-color: #001c28;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-description {
  margin: 20px auto 0;
  font-weight: 500;
  text-align: center;
}

.about-paragraph {
  max-width: 580px;
  margin: 10px auto 0;
}

.paragraph-decoration {
  position: relative;
  padding-bottom: 30px;
}

.paragraph-decoration::before,
.paragraph-decoration::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 1px;
  background-color: #f9ac54;
}

.paragraph-decoration::before {
  bottom: 10px;
  width: 130px;
}

.paragraph-decoration::after {
  width: 58px;
}

.about-list {
  margin-top: 40px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-item:not(:first-of-type) {
  margin-top: 30px;
}

.about-image-wrapper {
  width: 100%;
  max-width: 447px;
  height: 280px;
  overflow: hidden;
}

.about-image {
  display: block;
  margin: 0 auto;
}

.about-heading {
  margin-top: 30px;
  font-weight: 500;
}

.gallery {
  margin-top: 30px;
}

.gallery-heading {
  text-align: center;
}

.gallery-wrapper {
  width: 100%;
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */  
}

.gallery-wrapper::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

.gallery-images {
  display: flex;
  width: 100%;
  min-width: 1095px;
}

.gallery-image {
  width: 203px;
  height: 203px;
}

.gallery-image:not(:last-of-type) {
  margin-right: 20px;
}


/*--Menu--*/
.menu {
  padding: 60px 0;
  color: #fef1e0;
  background-color: rgba(0, 28, 40, 0.95);
}

.menu-title {
  text-align: center;
}

.menu-list {
  margin-top: 20px;
}

.menu-item {
  max-width: 539px;
  margin-left: auto;
  margin-right: auto;
}

.menu-item:not(:first-of-type) {
  margin-top: 20px;
}

.menu-paragraph {
  width: 100%;
  max-width: 100%;
}

.menu-image {
  display: none;
  width: 476px;
  height: 377px;
}

.menu-button {
  max-width: 394px;
  margin: 40px auto 0;
}


/*--Booking--*/
.booking {
  padding: 60px 0;
  color: #fef1e0;
  background: #001c28 url("../images/booking-background.jpg") center no-repeat;
  background-size: cover;
}

.booking-images {
  display: none;
}

.booking-title {
  text-align: center;
}

.booking-paragraph {
  margin: 20px auto 0;
  text-align: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 396px;
  margin: 40px auto 0;
}

.booking-item {
  width: 100%;  
}

.booking-field {
  width: 100%;
  padding: 0 10px 10px 0;
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #fef1e0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fef1e0;
  transition: all 0.3s ease-out;
}

.booking-field:focus,
.booking-field:active {
  border-color: #f9ac54;
}

.booking-field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #fef1e0;
  opacity: 1;
}

.booking-field::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #fef1e0;
  opacity: 1;
}

.booking-field:-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #fef1e0;
  opacity: 1;
}

.booking-field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #fef1e0;
  opacity: 1;
}

.booking-field:focus::-webkit-input-placeholder {
  opacity:0;
} 

.booking-field:focus::-moz-placeholder {
  opacity:0;
}

.booking-field:focus:-moz-placeholder {
  opacity:0;
}

.booking-field:focus:-ms-input-placeholder { 
  opacity:0;
}

.booking-item:not(:first-of-type) {
  margin-top: 20px;
}

.booking-button {
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
}


/*--Contacts--*/
.contacts {
  padding-top: 60px;
  color: #fef1e0;
  background-color: #001c28;
}

.contacts-title {
  text-align: center;
}

.contacts-paragraph {
  margin: 20px auto 0;
  text-align: center;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contacts-item {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-item:not(:first-of-type) {
  margin-top: 30px;
}

.contacts-image {
  display: block;
  width: 280px;
}

.contacts-wrapper {
  margin-top: 30px;
}

.contacts-link {
  color: inherit;
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  text-decoration: underline;
}

.contacts-item-paragraph {
  max-width: 540px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  margin: 30px auto 0;
}

.contacts-form-item {
  width: 100%;
}

.contacts-form-item:not(:first-of-type) {
  margin-top: 10px;
}

.contacts-field {
  width: 100%;
  padding: 10px;
  min-height: 40px;
  font-size: 14px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  color: #001c28;
  background-color: #ffffff;
}

.contacts-field::placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #001c28;
}

.contacts-field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #001c28;
}

.contacts-field::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #001c28;
}

.contacts-field:-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #001c28;
}

.contacts-field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
  color: #001c28;
}

.contacts-field:focus::-webkit-input-placeholder {
  opacity:0;
} 

.contacts-field:focus::-moz-placeholder {
  opacity:0;
}

.contacts-field:focus:-moz-placeholder {
  opacity:0;
}

.contacts-field:focus:-ms-input-placeholder { 
  opacity:0;
}

.contacts-textarea {
  min-height: 130px;
  resize: none;
}

.contacts-button {
  margin-top: 20px;
}

.contacts-map {
  min-height: 320px;
  margin-top: 60px;
  background: #003d3c url("../images/map.jpg") center no-repeat;
  background-size: cover;
}


/*--Main-footer--*/
.main-footer {
  padding: 40px 0;
  background: #001c28 url("../images/footer-background.jpg") center no-repeat;
  background-size: cover;
}

.main-footer-container {
  display: flex;
  flex-direction: column;
}

.main-footer-list {
  display: none;
}

.main-footer-contacts {
  max-width: 280px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #f9ac54;
}

.main-footer-tel-link {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  color: inherit;
}

.main-footer-tel-link:hover,
.main-footer-tel-link:focus,
.main-footer-tel-link:active {
  text-decoration: underline;
}

.main-footer-address {
  margin-top: 20px;
}

.main-footer-wrapper {
  order: 1;
  margin-top: 60px;
}

.main-footer-logo-image {
  display: block;
  width: 120px;
  height: 35px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 280px;
  margin: 40px auto 0;
}

.social-item:not(:last-of-type) {
  margin-right: 30px;
}

.social-link {
  fill: #f9ac54;
  transition: all 0.3s ease-out;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  fill: #fef1e0;
}



@media (min-width: 768px) {

  /*--Common--*/
  .title {
    font-size: 36px;
  }

  .description {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
  }

  .paragraph {
    font-size: 16px;
    line-height: 160%;
  }

  .heading {
    font-size: 24px;
  }


  /*--Top-bar--*/
  .top-bar {
    padding: 28px 0;
  }

  .logo-link {
    display: none;
  }

  .navigation {
    width: 100%;
    max-width: 1012px;
    margin: 0 auto;
  }

  .navigation-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content:  space-between;
    width: 100%;
  }

  .navigation-item:not(:last-of-type) {
    margin-right: 20px;
  }

  .navigation-link {
    font-weight: 600;
    font-size: 16px;
    color: #fef1e0;
    transition: all .3s ease-out;
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-link:active {
    color: #f9ac54;
  }


  /*--Banner--*/
  .banner {
    padding: 80px 0;
    background-image: url("../images/banner-background-768.jpg");
  }

  .banner-content {
    max-width: 355px;
    min-height: 355px;
  }

  .banner-logo-image {
    width: 168px;
    height: 67px;
    margin-top: 112px;
  }

  .banner-address {
    margin-top: 60px;
    font-size: 14px;
  }
  
  .banner-button {
    max-width: 355px;
    font-size: 18px;
  }


/*--About--*/
  .about {
    padding: 80px 0;
  }

  .about-description {
    margin-top: 30px;
  }

  .about-paragraph {
    line-height: 170%;
    text-align: center;
  }

  .paragraph-decoration {
    padding-bottom: 40px;
  }

  .about-list {
    margin-top: 60px;
  }

  .about-item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .about-item:not(:first-of-type) {
    margin-top: 40px;
  }

  .about-image-wrapper {
    max-width: 260px;
    height: 260px;
  }

  .about-item:nth-child(odd) .about-image-wrapper {
    margin-right: 20px;
  }

  .about-item:nth-child(even) .about-image-wrapper {
    order: 1;
    margin-left: 20px;
  }

  .about-heading {
    margin-top: 0;
    font-size: 18px;
  }

  .paragraph-decoration::before,
  .paragraph-decoration::after {
    transform: translate(0);
  }
  
  .paragraph-decoration::before {
    bottom: 20px;
  }
  
  .paragraph-decoration::before,
  .paragraph-decoration::after {
    left: 0;
  }

  .gallery {
    margin-top: 60px;
  }
  .gallery-wrapper {
    margin-top: 40px;
  }

  .gallery-image {
    width: 260px;
    height: 260px;
  }


  /*--Menu--*/
  .menu {
    padding: 80px 0;
  }

  .menu-list {
    margin-top: 40px;
  }

  .menu-item:not(:first-of-type) {
    margin-top: 40px;
  }

  .menu-paragraph {
    position: relative;
    max-width: 539px;
    padding-bottom: 40px;
  }

  .menu-paragraph::before,
  .menu-paragraph::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #f9ac54;
  }

  .menu-paragraph::before {
    bottom: 20px;
    width: 180px;
  }

  .menu-paragraph::after {
    width: 80px;
  }

  .menu-button {
    margin-top: 80px;
  }


  /*--Booking--*/
  .booking {
    padding: 80px 0;
  }

  .booking-paragraph {
    margin-top: 40px;
  }

  .booking-form {
    margin-top: 60px;
  }

  .booking-item:not(:first-of-type) {
    margin-top: 30px;
  }

  .booking-button {
    margin-top: 60px;
  }


  /*--Contacts--*/
  .contacts {
    padding-top: 80px;
  }

  .contacts-paragraph {
    margin-top: 20px;
    text-align: center;
  }

  .contacts-list {
    margin-top: 60px;
  }

  .contacts-item {
    width: 100%;
    max-width: 728px;
  }

  .contacts-item:not(:first-of-type) {
    margin-top: 40px;
  }

  .contacts-item-flex {
    display: flex;
    justify-content: space-between;
  }

  .contacts-image {
    order: 1;
    width: 374px;
    margin-left: 30px;
  }

  .contacts-wrapper {
    margin-top: 0;
  }

  .contacts-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  .contacts-form-item:not(:first-of-type) {
    margin-top: 20px;
  }

  .contacts-form-item {
    width: 100%;
  }

  .contacts-form-item.contacts-form-item-half {
    width: calc((100% - 20px)/2);
    margin-top: 0;
  }

  .contacts-button {
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
  }

  .contacts-map {
    margin-top: 80px;
    min-height: 330px;
  }


  /*--Main-footer--*/
  .main-footer {
    padding: 60px 0;
  }

  .main-footer-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 992px;
  }

  .main-footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
  }

  .main-footer-item:not(:first-of-type) {
    margin-top: 15px;
  }

  .main-footer-link {
    font-weight: 500;
    font-size: 18px;
    color: #f9ac54;
    transition: all 0.3s ease-out;
  }

  .main-footer-link:hover,
  .main-footer-link:active,
  .main-footer-link:focus {
    color: #fef1e0;
  }


  .main-footer-contacts {
    max-width: 290px;    
    margin: 0;
    margin-right: 40px;
    font-size: 16px;
    text-align: left;
  }

  .main-footer-address {
    margin-top: 10px;
  }

  .main-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }

  .main-footer-logo-image {
    order: 1;
    margin-top: 40px;
    margin-right: 0;
  }

  .social-list {
    max-width: 190px;
    margin: 0;
  }
}


@media (min-width: 992px) {  
  /*--Common--*/
  .paragraph {
    max-width: 477px;
  }


  /*--About--*/
  .about-paragraph {
    max-width:  615px;
  }

  .about-image-wrapper {
    max-width: 456px;
  }


  /*--Menu--*/
  .menu-paragraph {
    max-width: 539px;
  }


  /*--Contacts--*/
  .contacts-item-paragraph {
    max-width: 580px;
  }
}


@media (min-width: 1170px) {
  /*--Common--*/
  .container {
    max-width: 1012px;
  }

  .button {
    max-width: 376px;
    min-height: 60px;
    font-size: 18px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    margin-top: 30px;
    font-size: 32px;
    line-height: 150%;
  }

  .heading {
    font-size: 32px;
  } 


  /*--Top-bar--*/
  .navigation {
    max-width: 1012px;
  }


  /*--Banner--*/
  .banner {
    padding: 120px 0;
    background-image: url("../images/banner-background-1170.jpg");
  }

  .banner-content {
    max-width: 615px;
    min-height: 615px;
  }

  .banner-logo-image {
    width: 280px;
    height: 111px;
    margin-top: 210px;
  }

  .banner-address {
    margin-top: 120px;
    font-size: 18px;
  }

  .banner-button {
    font-size: 24px;
  }


  /*--About--*/
  .about {
    padding: 120px 0;
  }

  .about-description {
    margin-top: 40px;
  }

  .about-paragraph {
    margin-top: 20px;
  }

  .about-list {
    margin-top: 80px;
  }

  .about-item {
    align-items: center;
  }

  .about-item:not(:first-of-type) {
    margin-top: 60px;
  }

  .about-image-wrapper {
    height: 398px;
  }

  .about-item:nth-child(odd) .about-image-wrapper {
    margin-right: 40px;
  }

  .about-item:nth-child(even) .about-image-wrapper {
    margin-left: 40px;
  }

  .about-heading {
    font-size: 24px;
  }

  .paragraph-decoration {
    padding-bottom: 60px;
  }

  .about-item:nth-child(even) .paragraph-decoration::before,
  .about-item:nth-child(even) .paragraph-decoration::after {
    left: auto;
    right: 0;
  }

  .gallery {
    margin-top: 80px;
  }

  .gallery-image {
    width: 296px;
    height: 296px;
  }

  .gallery-image:first-of-type {
    margin-left: auto;
  }

  .gallery-image:last-of-type {
    margin-right: auto;
  }


  /*--Menu--*/
  .menu {
    padding: 120px 0;
  }

  .menu-container {
    max-width: 1012px;
  }

  .menu-title {
    text-align: left;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1170px;
  }

  .menu-item:not(:first-of-type) {
    margin-top: 80px;
  }

  .menu-paragraph {
    max-width: 456px;
  }

  .menu-item:nth-child(odd) .menu-image {
    margin-left: 40px;
  }

  .menu-item:nth-child(even) .menu-image {
    margin-right: 40px;
  }

  .menu-image {
    display: block;
  }


  /*--Booking--*/
  .booking {
    padding: 120px 0;
    background-image: url("../images/booking-background-1170.jpg");
  }

  .booking-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1012px;
  }

  .booking-images {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }

  .booking-image:not(:first-of-type) {
    margin-top: 20px;
  }

  .booking-wrapper {
    width: 416px;
  }

  .booking-title,
  .booking-paragraph {
    text-align: left;
  }

  .booking-paragraph {
    font-size: 18px;
  }

  .booking-form {
    max-width: 100%;
  }

  .booking-field {
    font-size: 18px;
  }

  .booking-item:not(:first-of-type) {
    margin-top: 40px;
  }

  .booking-button {
    max-width: 100%;
  }



  /*--Contacts--*/
  .contacts {
    padding-top: 120px;
    background: radial-gradient(677.00px at 50% 50%, rgba(249, 172, 84, 0.42) 0%, rgba(0, 28, 40, 0) 100%) -200px -360px, #001c28;
  }

  .contacts-paragraph {
    margin-top: 40px;
  }

  .contacts-item {
    max-width: 100%;
  }

  .contacts-item:not(:first-of-type) {
    margin-top: 60px;
  }

  .contacts-item-flex {
    justify-content: flex-start;
    align-items: center;
  }

  .contacts-image {
    order: 0;
    width: 508px;
    margin-left: 0;
    margin-right: 40px;
  }

  .contacts-item-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts-form {
    max-width: 376px;;
    margin-top: 0;
    margin-left: 40px;
  }

  .contacts-button {
    margin-top: 20px;
    min-height: 40px;
  }

  .contacts-map {
    min-height: 455px;
    margin-top: 120px;
  }


  /*--Main-footer--*/
  .main-footer {
    padding: 80px 0;
    background-image: url("../images/footer-background-1170.jpg");
  }
  
  .main-footer-container {
    max-width: 1012px;
  }

  .main-footer-list,
  .main-footer-wrapper,
  .main-footer-contacts {
    width: calc((100% - 60px)/3);
  }
  
  .main-footer-list,
  .main-footer-wrapper {
    margin-right: 30px;
  }

  .main-footer-contacts {
    text-align: right;
    margin-right: 0;
  }
  
  .main-footer-wrapper {
    order: 0;
  }
  
  .main-footer-logo-image {
    order: 0;
    margin-top: 0;
    margin-right: auto;
  }
  
  .social-list {
    max-width: 250px;
    margin: 60px auto 0;
  }
}